# Quarto output
_site/
.quarto/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
env/

# Environment and secrets
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

/.quarto/
**/*.quarto_ipynb
.Rproj.user

# other files
memo_and_reference/
